<header class="header">
  <div>
    <img class="header__logo" src="../assets/angular-remix-icon.svg" alt="Angular Remix Icon">
  </div>
  <div class="header__actions">
    <rmx-icon class="header-button" name="notification-2-fill"></rmx-icon>
    <rmx-icon class="header-button" name="chat-3-fill"></rmx-icon>
    <rmx-icon class="header-button" name="settings-3-fill"></rmx-icon>
  </div>
</header>
<main>
  <img src="../assets/angular-remix-icon-full.svg" alt="Angular Remix Icon" height="120px">
  <div>
    <p>A simple wrapper for Angular which enabled you to use Remix Icons in your project.
      <br />
      All the icons are injected as
      SVGs. <br />
      Only the icons you configured will be bundled with your code.</p>
  </div>

  <h2>Examples</h2>
  <div style="display: flex;justify-content:center">
    <table>
      <thead>
        <tr>
          <th>Preview</th>
          <th>Icon Name</th>
          <th>Icon Import Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <rmx-icon name="home-2-fill"></rmx-icon>
          </td>
          <td>home-2-fill</td>
          <td>RiHome2Fill</td>
        </tr>
        <tr>
          <td>
            <rmx-icon name="mail-unread-line"></rmx-icon>
          </td>
          <td>mail-unread-line</td>
          <td>RiMailUnreadLine</td>
        </tr>
        <tr>
          <td>
            <rmx-icon name="send-plane-fill"></rmx-icon>
          </td>
          <td>send-plane-fill</td>
          <td>RiSendPlaneFill</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<footer>
  <h3>Links</h3>
  <div class="footer__actions">
    <a class="btn npm" href="https://www.npmjs.com/package/angular-remix-icon" target="_blank"
       rel="noreferrer noopener">
      <img src="../assets/npm.svg" alt="Download from NPM">
      <span>Download from NPM</span>
    </a>
    <a class="btn github" href="https://github.com/adisreyaj/angular-remix-icon" target="_blank"
       rel="noreferrer noopener">
      <img src="../assets/github.svg" alt="Github Repo">
      <span>Github Repo</span>
    </a>
  </div>
</footer>
